[project]
	description = Small example that should explain how to setup jersey to run on embedded jetty web server.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Naveen holla (naveenholla)
[access "refs/for/refs/*"]
	read = group user/Naveen holla (naveenholla)
	push = group user/Naveen holla (naveenholla)
	label-Code-Review = -2..+2 group user/Naveen holla (naveenholla)
	label-Verified = -1..+1 group user/Naveen holla (naveenholla)
	rebase = group user/Naveen holla (naveenholla)
	removeReviewer = group user/Naveen holla (naveenholla)
	submit = group user/Naveen holla (naveenholla)
[access "refs/heads/*"]
	read = group user/Naveen holla (naveenholla)
	create = group user/Naveen holla (naveenholla)
	push = +force group user/Naveen holla (naveenholla)
	pushMerge = group user/Naveen holla (naveenholla)
[access "refs/tags/*"]
	push = group user/Naveen holla (naveenholla)
	push = +force group user/Naveen holla (naveenholla)
